<ion-view>
  <ion-nav-bar align-title="center" class="pocket-head">
    <div class="holder header">
      <ion-nav-back-button class="button-clear header__back" transitiontype="slide" direction="down" go-native>
        <img src="img/back-chevron.png" alt=""> Back
      </ion-nav-back-button>
      <!-- <div class="header__back" ui-sref="menu" go-native>Back</div> -->
      <ion-nav-title class="header__heading title-center">Settings</ion-nav-title>
    </div>
  </ion-nav-bar>
  <ion-content>
            <div class="row">
                <div class="col-xs-12 selection">
                  <ion-list can-swipe="false">
                    <ion-item href="#/settings/general" class="item-thumbnail-left" transitiontype="slide" direction="left" go-native>
                      <div class="row">
                          <div class="col-xs-2 selection__img" align="center"><img src="img/settings.png" alt=""></div>
                          <div class="col-xs-10 selection__content">General
                          <span class="selection__arrow pull-right"><img src="img/arrow-chevron.png" alt=""></span>
                          </div>
                      </div>
                    </ion-item>
                    <ion-item href="#/settings/security" class="item-thumbnail-left" transitiontype="slide" direction="left" go-native>
                      <div class="row">
                          <div class="col-xs-2 selection__img" align="center" ><img src="img/lock.png" alt=""></div>
                          <div class="col-xs-10 selection__content selection__content__last">Security
                          <span class="selection__arrow pull-right"><img src="img/arrow-chevron.png" alt=""></span>
                          </div>
                      </div>
                    </ion-item>
                  </ion-list>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 selection">
                  <ion-list can-swipe="false">
                    <ion-item href="#/settings/discovery" class="item-thumbnail-left" transitiontype="slide" direction="left" go-native>
                      <div class="row">
                        <div class="col-xs-2 selection__img" align="center"><img src="img/binoculars.png" alt=""></div>
                        <div class="col-xs-10 selection__content">Discovery
                        <span class="selection__arrow pull-right"><img src="img/arrow-chevron.png" alt=""></span></div>
                    </div>
                    </ion-item>
                  <ion-item href="#/settings/profile" class="item-thumbnail-left" transitiontype="slide" direction="left" go-native>

              <!--<ion-list id="networks" class="list-block" can-swipe="networks.listCanSwipe">-->
                <!--<ion-item class="item-remove-animate item-icon-right">-->
                  <!--<span class="icon phone"></span>-->
                    <!--<div class="item-text">Phone</div>-->
                    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                <!--</ion-item>-->
                  <!--<ion-item class="item-remove-animate item-icon-right">-->
                      <!--<span class="icon fb"></span>-->
                      <!--<div class="item-text">Facebook</div>-->
                      <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                  <!--</ion-item>-->
                  <!--<ion-item class="item-remove-animate item-icon-right">-->
                      <!--<span class="icon instagram"></span>-->
                      <!--<div class="item-text">Instagram</div>-->
                      <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                  <!--</ion-item>-->
                  <!--<ion-item class="item-remove-animate item-icon-right">-->
                      <!--<span class="icon snapchat"></span>-->
                      <!--<div class="item-text">Snapchat</div>-->
                      <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                  <!--</ion-item>-->
                  <!--<ion-item class="item-remove-animate item-icon-right">-->
                      <!--<span class="icon skype"></span>-->
                      <!--<div class="item-text last">Skype</div>-->
                      <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                  <!--</ion-item>-->
                  <!--<input type="text" ng-model="settings.contacts.phone_number" placeholder="Number" ng-blur="updateContacts()">-->
                <!--<ion-item class="item-remove-animate">-->
                  <!--<span class="icon loc-pin"></span>-->
                  <!--<input type="text" ng-model="settings.contacts.address" placeholder="City" ng-blur="updateContacts()">-->
                <!--</ion-item>-->
                <!--<ion-item class="item-remove-animate">-->
                  <!--<span class="icon bell-icon"></span>-->
                  <!--<input type="text" ng-model="settings.contacts.snapchat" placeholder="Snapchat" ng-blur="updateContacts()">-->
                <!--</ion-item>-->
                <!--<ion-item class="item-remove-animate">-->
                  <!--<span class="icon twitter"></span>-->
                  <!--<input type="text" ng-model="settings.contacts.twitter" placeholder="Twitter" ng-blur="updateContacts()">-->
                <!--</ion-item>-->
                <!--<ion-item class="item-remove-animate">-->
                  <!--<span class="icon fb"></span>-->
                  <!--<input type="text" ng-model="settings.contacts.facebook" placeholder="Facebook" ng-blur="updateContacts()">-->
                <!--</ion-item>-->
                <!--<ion-item class="item-remove-animate">-->
                  <!--<span class="icon instagram"></span>-->
                  <!--<input type="text" ng-model="settings.contacts.instagram" placeholder="Instagram" ng-blur="updateContacts()">-->
                <!--</ion-item>-->
                <!--<ion-item class="item-remove-animate">-->
                  <!--<span class="icon whatsapp"></span>-->
                  <!--<input type="text" ng-model="settings.contacts.whatsapp" placeholder="WhatsApp" ng-blur="updateContacts()">-->
                <!--</ion-item>-->
                <!--<ion-item class="item-remove-animate">-->
                  <!--<span class="icon email"></span>-->
                  <!--<input type="text" ng-model="settings.contacts.email" placeholder="Email" ng-blur="updateContacts()">-->
                <!--</ion-item>-->
                    <div class="row">
                        <div class="col-xs-2 selection__img" align="center" ><img src="img/person.png" alt=""></div>
                        <div class="col-xs-10 selection__content">Profile
                        <span class="selection__arrow pull-right"><img src="img/arrow-chevron.png" alt=""></span>
                        </div>
                    </div>
                    </ion-item>
                  <ion-item href="#/settings/contact" class="item-thumbnail-left" transitiontype="slide" direction="left" go-native>
                    <div class="row">
                        <div class="col-xs-2 selection__img" align="center" ><img src="img/contact-card.png" alt=""></div>
                        <div class="col-xs-10 selection__content selection__content__last">Contact Card
                        <span class="selection__arrow pull-right"><img src="img/arrow-chevron.png" alt=""></span>
                        </div>
                    </div>
                  </ion-item>
                  </ion-list>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 selection">
                  <ion-list can-swipe="false">
                  <ion-item href="#/settings/contact" class="item-thumbnail-left" transitiontype="slide" direction="left" go-native>
                    <div class="row">
                        <div class="col-xs-2 selection__img" align="center"><img src="img/heart.png" alt=""></div>
                        <div class="col-xs-10 selection__content">Share
                        <span class="selection__arrow pull-right"><img src="img/arrow-chevron.png" alt=""></span></div>

                    </div>
                  </ion-item>
                  <ion-item href="#/settings/legal" class="item-thumbnail-left" transitiontype="slide" direction="left" go-native>
                    <div class="row">
                        <div class="col-xs-2 selection__img" align="center" ><img src="img/legal.png" alt=""></div>
                        <div class="col-xs-10 selection__content selection__content__last">Legal Stuff
                        <span class="selection__arrow pull-right"><img src="img/arrow-chevron.png" alt=""></span>
                        </div>
                    </div>
                  </ion-item>
                  </ion-list>
                </div>
            </div>
            <div class="settings__footer" align="center">
                <img src="img/logo.png" alt="">
                Copyright 2016
            </div>
  </ion-content>
</ion-view>